.about {
    padding-top: 20px;
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
    color: white;
    text-align: center;
}

.about > .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about > .container > .text {
    width: 40%;
    margin: 0 auto;
}

.about > .container > .img {
    width: 60%;
    justify-content: center;
    height: auto;
}

.about > .container > .img img {
    width: 100%;
    margin-top: 50px;
}

.about > .container > .text p {
    color: rgba(255, 255, 255, 0.5);
    padding: 30px 0;
}

.about span {
    color: #64a19d;
}

@media (max-width: 599px) {
    .about > .container > .text {
        width: 80%;
    }

    .about > .container > .img {
        width: 90%;
    }
}