.grayscale {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(../images/bg-masthead.jpg);
    background-position: center;
    height: 1188px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -130px;
}

.grayscale > .container {
    width: 100%;
    max-width: 1920px;
}

.grayscale > div {
    text-align: center;
    margin: 0 auto;
    height: 267px;
    
}

.grayscale h1 {
    font-size: 5em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grayscale p {
    width: 480px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5)
}

.grayscale button {
    cursor: pointer;
    color: #fff;
    background-color: #64a19d;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
    padding: 20px 35px;
    margin-top: 20px;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    letter-spacing: 0.1em;
}

.grayscale button:hover {
  background-color: #528f8b;
}

@media (max-width: 599px) {
  .grayscale h1 {
    font-size: 2em;
  }

  .grayscale p {
    font-size: 0.9em;
  }
}