@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);

@import 'nav.css';
@import 'grayscale.css';
@import 'about.css';
@import 'projects.css';
@import 'subscribe.css';
@import 'contact.css';
@import 'footer.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-size: 20px;
    font-family: "Nunito";
    letter-spacing: 0.5;
    scroll-behavior: smooth;
}

