.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 0;
}

.nav > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 60%;
}

.nav > .container > .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav a {
    text-decoration: none;
    color: #C7C7C7;
}

.nav a:hover {
    color: #e7e7e7;
}

@media (max-width: 599px) {
    
    .nav > .container {
        flex-direction: column;
    }

    .menu {
        padding: 20px;
    }

    .nav > .container {
        max-width: 100%;
    }
}